.payment-history-container {
    width: 80%;
    margin: 0 auto;
    text-align: center;
    font-family: 'Arial', sans-serif;
    max-width: 800px;
    color:black;
    border: 1px solid #ccc;
    border-radius: 8px;
  }
  
  .payment-history-container h1{
     font-size: 30px;
     text-align: left;
     margin-left: 35px;
     margin-top: 20px;
  }

  .payment-history-table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
  }
  
  .payment-history-table th,
  .payment-history-table td {
    padding: 10px;
    border: 1px solid white;
  }

  .payment-history-table td:nth-child(3) { 
    color: blue;
  }
  
  .payment-history-table .paid {
    color: green;
  }
  
  .payment-history-table .pending {
    color: orange;
  }
  
  .payment-history-table .rejected {
    color: red;
  }
  
  .button-container {
    margin-top: 20px;
  }
  
  .go-back-button,
  .see-invoices-button {
    padding: 10px 20px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .go-back-button {
    background-color: #f44;
    color: white;
  }
  
  .see-invoices-button {
    background-color: #555;
    color: white;
  }
  /**/
h1.title{
font-size: 3vw;
}

  .payment-history-overlay{
    position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black overlay */
  z-index: 1001; /* Ensure the overlay is above other content */
  }

  .payment-history-popup{
    position: fixed;
  top: 50%; /* Center vertically */
  left: 50%; /* Center horizontally */
  transform: translate(-50%, -50%);
  background-color: white;
  border-radius: 8px;
  padding: 20px;
  width: 50%;
  z-index: 1001; /* Ensure the popup is above the overlay */
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3); /* Add shadow effect */ 
  }
