.condo-dash-top {
  margin-top: 10px;
  color: black;
  font-family: "Roboto-Regular", Helvetica;
}

.condo-dash-icon {
  width: 12px;
  margin-right: 8px;
  margin-bottom: 3px;
}

.condo-dash-location-name {
  display: inline-block;
  font-size: 14px;
}

.condo-dash-container {
  margin-left: 100px;
  margin-right: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.condo-dash-second-row {
  display: flex;
}

.condo-dash-box-1 {
  border-style: solid;
  border-width: 5px;

  width: 40%;
  margin-left: 90px;
  margin-top: 6%;
  margin-bottom: 10%;
  max-width: 280px;
  max-height: 420px;

  display: flex;
  flex-direction: column;
  align-items: center;

}
