body{
    background-color: rgb(237, 236, 236);
}

.picture_search{
    position: relative;
    display: block;
    width: 100vw;
    height: auto;
    overflow: hidden;
}

.houseSlogan{
    font-family: 'Roboto', sans-serif;
    font-size: 64px;
    color: rgba(255, 255, 255, 1);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.searchArea {
    width: 100%; 
    margin: 0 auto; /* Horizontally center the search area */
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 14px;
    position: relative;
    z-index: 1; /* Ensure the search area is above the image */
}

.inputSearch {
    width: 30%;
    height: 40px;
    border-radius: 5px;
    margin: 10px;
    padding-left: 10px;
    margin-top: 10px;
}

.homeSection{
    margin-left: 100px;
    margin-right: 100px;
    color: rgb(0, 0, 0);
}

.homeHeadings{
    margin-left: 100px;
    margin-top: 40px;
    font-size: 24px;
}

.homeSubHeading {
    margin-left: 20px;
    font-size: 24px;
}

.homeBody {
    font-size: 14px;
    color: rgba(0, 0, 0, 0.5);
    margin-left: 20px;
}

.container {
    display: flex;
}

.box {
    flex: 1; 
    height: 320px; 
    border: 1px solid rgba(0, 0, 0, 0.1); 
    margin: 10px; 
    background-color: rgba(255, 255, 255, 1); 
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.box img {
    width: auto;
    max-height: 50%; /* Restricting the image height to half of the box */
    margin: 10px; /* Margin on all sides */
}

.condoInfo {
    margin: 10px;
    color: rgba(0, 0, 0, 0.75);
}


.mediumBox {
    display: grid;
    grid-template-columns: 1fr auto; /* One column for content, one for image */
    gap: 20px; /* Adjust spacing */
    height: 400px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    margin: 10px;
    background-color: rgba(255, 255, 255, 1);
    overflow: hidden; /* Ensure content does not overflow */
    position: relative;
}

.wideBox {
    display: flex;
    align-items: center;
    height: 320px;
    margin-top: 20px;
    margin-left: 40px;
    margin-right: 40px;
    background-color: rgba(255, 255, 255, 1); 
    border: 1px solid rgba(0, 0, 0, 0.1); 
}

.homeContent {
    flex: 1;
    padding: 20px;
    position: relative;
}

.home_image {
    max-height: 100%; /* Ensure image doesn't exceed container height */
    max-width: 100%; /* Set maximum width to make it smaller */
    object-fit: contain; /* Maintain aspect ratio */
    margin-left: auto; /* Right-align */
}


.homeMapButton {
    width: 175px;
    height: 35px;
    border-radius: 10px;
    background-color: rgba(224, 40, 40, 1);
    color: white;
    cursor: pointer;
    margin-top: 150px;
    margin-bottom: 10px;
    margin-left: 20px;
    margin-right: auto;
}

.homeMapButton:hover {
    background-color: darkred;
}

.homeViewPropertyButton {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 130px;
    height: 30px;
    border-radius: 10px;
    border-color: rgba(224, 40, 40, 1);
    background-color: rgba(255, 255, 255, 1);
    color: rgba(224, 40, 40, 1);
    margin-left: 20px;
    margin-top: 20px;
}

.homeViewPropertyButton:hover {
    color: white;
    background-color: red;
}