.profilePage{
    display: flex;
    background-color: #F8F8F8;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    flex-direction: column;
}

.profileForm{
    display: flex;
    flex-direction: column;
    width: 70%;
    padding: 10px;
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

.membershipInfo{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    position: relative;
    left: 10px ;
    top:-5px;
}

.profileLabels{
    position: absolute;
    top: 1px;
    left: 20px;
    bottom: 40px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    background-color: white;
    color: rgba(0, 0, 0, 0.5);
}

.field-holder-profile{
    display: flex;
    position:relative;
    width: 98%;
    padding: 10px;
}

.profileInput{
    border: 0.5px solid rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    height: 6vh;
    width: 25%;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.5);

}

.box-profile-page{
    position: relative;
    display: flex;
    flex-direction: row;
    width: 98%;
    align-items: center;
    height: 10vh;


}

.field-holder2-profile{
    position: relative;
    width: 27%;
    padding: 10px;
}

.profileSelect{
    border: 0.5px solid rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.5);
    width:100%;
    height:6vh;

}

.horizontalInput{
    width:98%;
    border: 0.5px solid rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    height: 6vh;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.5);

}

.city{
    position: absolute;
    top: 1px;
    left: 20px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    background-color: white;
    color: rgba(0, 0, 0, 0.5);
}

.province{
    position: absolute;
    top: 1px;
    left: 20px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    background-color: white;
    color: rgba(0, 0, 0, 0.5);

}


.num2{
    position: absolute;
    top: 1px;
    left: 20px;
    bottom: 40px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    background-color: white;
    color: rgba(0, 0, 0, 0.5);
}

.num{
    position: absolute;
    top: 1px;
    left: 20px;
    bottom: 40px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    background-color: white;
    color: rgba(0, 0, 0, 0.5);
}


.addressInput{
    width: 100%;
    border: 0.5px solid rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.5);
    height: 6vh;
}



.notification{
    display: flex;
    flex-direction: row;
    position: relative;
    width: 70%;
    align-items: flex-start;
    text-align: left;
    justify-content: left;
    margin: 5px;
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    padding: 10px;

}

.notifText{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.5);}

.save{
    margin-top: 10px;
    width: 8%;
    height: 5vh;
}

.profileBtn{
    width: 100%;
    height: 100%;
    background: #E02828;
    border-radius: 5px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    color: #FFFFFF;
    border: none;
}

.profileSwitch{
    position: relative;
    display: flex;
    flex-direction: row;
    margin-left: 10px;
}
.formSwitchCheckDefault{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.5);
    margin-left: 10px;
}
